version: '3.9'

services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - .:/var/www
            - ./storage:/var/www/storage
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        ports:
            - '8080:80'
        volumes:
            - .:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app

    db:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: laravel_vue_starter
            MYSQL_ROOT_PASSWORD: root
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
        ports:
            - '3306:3306'

    node:
        image: node:20-alpine
        working_dir: /var/www
        volumes:
            - .:/var/www
        command: sh -c "npm install && npm run dev"
        ports:
            - '5173:5173'
