.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0;
    transition: margin-left var(--layout-section-transition-duration);
}

@media (min-width: 992px) {
    .layout-main-container {
        margin-left: 22rem;
    }
}
