@import './_variables.scss';
@import './_topbar.scss';
@import './_sidebar.scss';
@import './_main.scss';

html {
    font-size: 14px;
    color: var(--text-color);
}

body {
    font-family: Lato, sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
