@import './_variables.scss';
@import './_topbar.scss';
@import './_sidebar.scss';
@import './_main.scss';

html {
    font-size: 14px;
    color: var(--text-color);
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);
}
